@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

html {
  font-size: 100px;
}

body {
  font-size: 16px;
  font-family: "楷体", sans-serif;
  background: #999;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

.header {
  width: 100%;
  height: 1rem;
  padding: 0.2rem;
  border-bottom: 0.1px solid #000;
}

.header input {
  width: 100%;
  height: 0.6rem;
  background: #fff;
  padding-left: 0.2rem;
  border: 0;
  outline: none;
  line-height: 0.9rem;
  border-radius: 0.2rem;
}

.header .add {
  width: 0.4rem;
  height: 0.4rem;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.4rem;
}

/* 侧边 */
.cebian {
  width: 6.3rem;
  height: 12rem;
  background: #FAFAFA;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  transform: translateX(-100%);
}

.cebian .logo {
  width: 100%;
  padding: 0.5rem;
  background: #536f7a;
  color: #fff;
  overflow: hidden;
}

.cebian .logo #touxiang {
  overflow: hidden;
}

.cebian .logo #touxiang .touxiang {
  width: 1.5rem;
  height: 1.5rem;
  background: #f5f3cd;
  border-radius: 50%;
  float: left;
}

.cebian .logo #touxiang .name {
  margin: 0.5rem;
  float: left;
  position: absolute;
  left: 1.7rem;
  bottom: 0;
  margin: auto;
  font-size: 0.38rem;
}

.cebian .logo .xinxi {
  margin-top: 0.2rem;
  float: left;
  font-size: 0.28rem;
}

.cebian .caidan, .cebian .shezhi {
  padding-top: 0.2rem;
  border-bottom: 1px solid #f1f3f0;
  font-size: 16px;
}

.cebian .caidan li, .cebian .shezhi li {
  padding: 0.1rem 0.2rem;
  border-bottom: 1px dashed #f1f3f0;
  line-height: 0.5rem;
}

.cebian .caidan li:last-child, .cebian .shezhi li:last-child {
  border-bottom: 0;
}

/* 选中状态 */
.xuan {
  background: #e54d1b;
  color: #fff;
}

.animate {
  animation: cebian-move 0.5s .2s ease forwards;
}

@keyframes cebian-move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* end */
i.icon {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  background: #3ab8e1;
  vertical-align: bottom;
  line-height: 0.5rem;
}

.ul {
  padding: 0.2rem;
}

.ul li {
  background: #fff;
  padding-left: 0.2rem;
  margin: 0.2rem 0;
  border-radius: 0.2rem;
}

.ul li .content {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
}

.ul li .delete {
  width: 0.4rem;
  height: 0.4rem;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.4rem;
}

.ul li.done .content {
  color: #666666;
  text-decoration: line-through;
}

.foot {
  width: 100%;
  overflow: hidden;
}

.foot div {
  width: 33.333%;
  padding: 0 0.1rem;
  margin: 0.2rem 0;
  line-height: 0.6rem;
  float: left;
  text-align: center;
}

.foot div p {
  height: 100%;
  background: #536f7a;
  border-radius: 0.1rem;
  color: #fff;
}
