@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

html {
  font-size: 100px;
}

body {
  font-size: 16px;
  font-family: "楷体", sans-serif;
  background: #999;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

.lis {
  height: 16rem;
}

.header {
  width: 100%;
  padding: 0.2rem;
  background: #344561;
  overflow: hidden;
  color: #fff;
  font-size: 0.5rem;
}

.header .header-left, .header .header-right {
  float: left;
  line-height: 1.2rem;
}

.header .header-left .icon, .header .header-right .icon {
  vertical-align: middle;
}

.header .header-right {
  float: right;
}

.tianjia {
  transform: translate(0, -100%) scale(0);
  transition: all 0.5s;
  width: 7rem;
  height: auto;
  background: #F0F0F0;
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  border-radius: 0.1rem;
  overflow: hidden;
  text-align: center;
}

.tianjia .add-title {
  height: 1.2rem;
  background: #344561;
  line-height: 1.2rem;
  font-size: 0.5rem;
  color: #fff;
}

.tianjia > input {
  width: 80%;
  border: 0;
  margin: 0.3rem 0;
  background: #F0F0F0;
  border-bottom: 2px solid #000;
  outline: none;
  line-height: 0.6rem;
  font-size: 0.4rem;
  font-family: "楷体", sans-serif;
}

.tianjia .xuanze {
  width: 80%;
  height: 0.8rem;
  margin: 0.3rem auto;
  line-height: 0.8rem;
  font-size: 0.3rem;
}

.tianjia .xuanze > div {
  width: 45%;
  float: left;
  background: #fff;
  border-radius: 0.1rem;
  box-shadow: 0 1px 10px #999;
}

.tianjia .xuanze > div.no {
  float: right;
}

.tianjia-ani {
  transform: translate(0) scale(1);
}

/* 侧边 */
.cebian-parent {
  width: 100%;
  height: 16rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  transform: translateX(-100%);
  transition: all 0.5s;
}

.cebian {
  width: 6.3rem;
  height: 100%;
  background: #FAFAFA;
  overflow: auto;
}

.cebian .logo {
  width: 100%;
  padding: 0.5rem;
  background: #536f7a;
  color: #fff;
  overflow: hidden;
}

.cebian .logo #touxiang {
  overflow: hidden;
}

.cebian .logo #touxiang .touxiang {
  width: 1.5rem;
  height: 1.5rem;
  background: #f5f3cd;
  border-radius: 50%;
  float: left;
}

.cebian .logo #touxiang .name {
  margin: 0.5rem;
  float: left;
  position: absolute;
  left: 1.7rem;
  bottom: 0;
  margin: auto;
  font-size: 0.38rem;
}

.cebian .logo .xinxi {
  margin-top: 0.2rem;
  float: left;
  font-size: 0.28rem;
}

.cebian .caidan, .cebian .shezhi {
  padding-top: 0.2rem;
  border-bottom: 1px solid #f1f3f0;
  font-size: 16px;
}

.cebian .caidan li, .cebian .shezhi li {
  padding: 0.1rem 0.2rem;
  border-bottom: 1px dashed #f1f3f0;
  line-height: 0.5rem;
}

.cebian .caidan li:last-child, .cebian .shezhi li:last-child {
  border-bottom: 0;
}

.menu {
  padding: 0.1rem 0.2rem;
  border-bottom: 1px dashed #f1f3f0;
  line-height: 0.5rem;
}

/* 选中状态 */
.xuan {
  background: #e54d1b;
  color: #fff;
}

.animate {
  transform: translateX(0);
}

@keyframes cebian-move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes cebian-moveed {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* end */
i.icon {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  background: #3ab8e1;
  vertical-align: bottom;
  line-height: 0.5rem;
}

.ul {
  margin: 0.2rem;
}

.ul li {
  background: #fff;
  padding-left: 0.2rem;
  margin: 0.2rem 0;
  border-radius: 0.2rem;
}

.ul li .content {
  width: 6.5rem;
  height: 1rem;
  line-height: 1rem;
  padding-right: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ul li .delete {
  width: 0.4rem;
  height: 0.4rem;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.4rem;
}

.ul li.done .content {
  color: #666666;
  text-decoration: line-through;
}

.foot {
  width: 100%;
  overflow: hidden;
}

.foot div {
  width: 33.333%;
  padding: 0 0.1rem;
  margin: 0.2rem 0;
  line-height: 0.6rem;
  float: left;
  text-align: center;
}

p {
  height: 100%;
  background: #536f7a;
  border-radius: 0.1rem;
  color: #fff;
}
