
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
$font-fa: "楷体", sans-serif;
$d-list: 320px, 360px, 375px;
$design-width: 750px;
html{
    font-size: 100px;
}
body{
    font-size: 16px;
    font-family:  $font-fa;
    background: #999;
}


@each $w in $d-list{
    @media screen and (min-width: #{$w}){
        html{
            font-size: 100px *$w/$design-width;
        }
    }
}

@mixin top-bottom{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
@mixin left-right{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
@mixin add{
    width: 0.4rem;
    height: 0.4rem;
    background: red;
    border-radius: 50%;
    @include top-bottom;
    right: 0.4rem;
}
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}
///////////////////////////////////////////////

.lis{
    height: 16rem;
}
.header{
    width: 100%;
    padding: 0.2rem;
    background: #344561;
    overflow: hidden;
    color: #fff;
    font-size: 0.5rem;
    .header-left, .header-right{
        float: left;
        line-height: 1.2rem;
        .icon{
            vertical-align: middle;
//          transform: rotate(180deg);
            transition: all 0.5s;
        }
    }
    .header-right{
        float: right;
    }
}
.header .icon:hover{
    transform: rotate(360deg);
}

.tianjia{
    transform: translate(0, -100%) scale(0);
    transition: all 0.5s;
    width: 7rem;
    height: auto;
    background: #F0F0F0;
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
    border-radius: 0.1rem;
    overflow: hidden;
    text-align: center;
    .add-title{
        height: 1.2rem;
        background: #344561;
        line-height: 1.2rem;
        font-size: 0.5rem;
        color: #fff;
    }
    & > input{
        width: 80%;
        border: 0;
        margin: 0.3rem 0;
        background: #F0F0F0;
        border-bottom: 2px solid #000;
        outline: none;
        line-height: 0.6rem;
        font-size: 0.4rem;
        font-family: $font-fa;
    }
    .xuanze{
        width: 80%;
        height: 0.8rem;
        margin: 0.3rem auto;
        line-height: 0.8rem;
        font-size: 0.3rem;
        & > div{
            width: 45%;
            float: left;
            background: #fff;
            border-radius: 0.1rem;
            box-shadow: 0 1px 10px #999;
        }
        & > div.no{
            float: right;
        }
    }
}

.tianjia-ani{
    transform: translate(0) scale(1);
}

/* 侧边 */
.cebian-parent{
    width: 100%;
    height: 16rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    transform: translateX(-100%);
    transition: all 0.5s;
}
.cebian{
//  display: none;
    width: 6.3rem;
    height: 100%;
    background: #FAFAFA;
    overflow: auto;
    .logo{
        width: 100%;
        padding: 0.5rem;
        background: #536f7a;
        color: #fff;
        overflow: hidden;
        #touxiang{
            overflow: hidden;
            .touxiang{
                width: 1.5rem;
                height: 1.5rem;
                background: #f5f3cd;
                border-radius: 50%;
                float: left;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
            .name{
                margin: 0.5rem;
                float: left;
                position: absolute;
                left: 1.7rem;
                bottom: 0;
                margin: auto;
                font-size: 0.38rem;
            }
        }
        .xinxi{
            margin-top: 0.2rem;
            float: left;
            font-size: 0.28rem;
        }
    }
    
    .caidan, .shezhi{
        padding-top: 0.2rem;
        border-bottom: 1px solid #f1f3f0;
        font-size: 16px;
        li{
            padding: 0.1rem 0.2rem;
            border-bottom: 1px dashed #f1f3f0;
            line-height: 0.5rem;
        }
        li:last-child{
            border-bottom: 0;
        }
    }
}
.menu{
    padding: 0.1rem 0.2rem;
    border-bottom: 1px dashed #f1f3f0;
    line-height: 0.5rem;
}
.caidan .icon{
    color: #3ab8e1;
}
/* 选中状态 */
.xuan{
    background: #e54d1b;
    color: #fff;
}
.animate{
//  animation: cebian-move 0.5s .2s ease forwards;
    transform: translateX(0);
}
@keyframes cebian-move{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes cebian-moveed{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
/* end */
i.icon{
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
//  background: #3ab8e1;
    vertical-align: bottom;
    line-height: 0.5rem;
    text-align: center;
      font-family:"iconfont" !important;
      font-size:16px;font-style:normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
      
}


.ul{
    margin: 0.2rem;
    li{
        background: #fff;
        padding-left: 0.2rem;
        margin: 0.2rem 0;
        border-radius: 0.2rem;
        .content{
            width: 6.5rem;
            height: 1rem;
            line-height: 1rem;
            padding-right: 1rem;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .delete{
            @include add;
        }
    }
    li.done .content{
        color: #666666;
        text-decoration: line-through;
    }
}
//.fo{
//  padding: 0 0.1rem;
//}
.foot{
    width: 100%;
    overflow: hidden;
    div{
        width: 33.333%;
        padding: 0 0.1rem;
        margin: 0.2rem 0;
        line-height: 0.6rem;
        float: left;
        text-align: center;
    }
}
 p{
            height: 100%;
            background: #536f7a;
            border-radius: 0.1rem;
            color: #fff;
        }